.container {
  margin: 0 auto;
  padding-top: 15px;
  width: 1200px;

  .menu {
    display: flex;
    list-style: none;
    gap: 15px;

    li a {
      text-decoration: none;
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}